/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0 0 5% 0;
}

header {
	height: 56px;
}

p {
	margin: 8px 0 0 0;
}

.container p {
	text-align: center;
	padding: 0;
}


/****** Header Styling ******/
.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
}

.menu > li {
    float: left;
	border-right: 1px solid #bbb;
}

.menu > li:last-child {
    border-right: none;
}

.menu > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu > li a:hover {
    background-color: #111;
}

header a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

#display-name {
	font-weight: 400;
}

/****** Logo Div Styling ******/

img {
	margin: 0 auto;
	display: block;
}

/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	margin: 8px 8px;
	color: white;
	background-color: #333;

	/*background-color: #00BCD4;
	display: inline-block;*/
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100%;
	font-weight: 500;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}

/****** Profile Styling ******/

.twitter-profile {
	width: 350px;
	height: 100px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.twitter-profile p:first-child {
	padding-top: 16px;
}

.twitter-profile p:nth-child(5) {
	margin-bottom: 16px
}

.twitter-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.twitter-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.twitter-profile .menu:hover {
	color: #FFA000;
}

.twitter-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;
}

/******view.html styling*********/

.polls-container{
	float: left;
}
.main-container{
	margin: 0 5%;
	padding: 3%;
}
.btn-index-buttons{
	width: 100%;
	margin: 10 auto;
	background-color: green;
}

.btn-vote-buttons{
	width: 40%;
	margin: 3%;
	background-color: #555;
}

.btn-vote-buttons:hover{
	background-color: #333;
	color: white;
}

.votes > label{
	display: block;
	cursor: pointer;
}

.menu-polls, .menu-polls:link, .menu-polls:visited, .menu-polls:hover, .menu-polls:active{
	text-decoration: none;
}

.menu-polls > div{
	text-decoration: none;
	background-color: #555; 
	color: white; 
	margin: 10px 0; 
	padding: 10px;
}

.menu-polls > div:hover{
	background-color: #333;
	text-decoration: none;
}

.input_options{
	margin: 5px 3px;
}